.u-section-1 {background-image: url("images/WhatsAppImage2020-09-11at1.09.23AM.jpeg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 1104px}
.u-section-1 .u-text-1 {width: 680px; font-size: 3rem; font-weight: 700; margin: 22px auto 0}
.u-section-1 .u-icon-1 {height: 260px; width: 260px; margin: 0 auto}
.u-section-1 .u-btn-1 {background-image: none; border-style: none; margin: 10px auto 0}
.u-section-1 .u-video-1 {height: 579px; width: 1078px; margin: 22px 22px 40px auto} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 897px}
.u-section-1 .u-btn-1 {margin-top: -280px}
.u-section-1 .u-video-1 {height: 513px; width: 896px; margin-top: 222px; margin-right: auto; margin-bottom: 11px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1423px}
.u-section-1 .u-icon-1 {height: 261px; width: 261px; margin-top: 81px}
.u-section-1 .u-btn-1 {margin-top: 22px}
.u-section-1 .u-video-1 {height: 422px; width: 703px; margin-top: 35px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1103px}
.u-section-1 .u-text-1 {width: 540px; margin-top: 11px; margin-left: 11px; margin-right: 11px}
.u-section-1 .u-icon-1 {margin-top: -13px}
.u-section-1 .u-btn-1 {margin-top: -31px; margin-left: 212px}
.u-section-1 .u-video-1 {height: 300px; width: 518px; margin-top: 146px; margin-bottom: 60px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 956px}
.u-section-1 .u-text-1 {width: 340px; font-size: 1.875rem; margin-top: 46px; margin-left: 13px; margin-right: 13px}
.u-section-1 .u-icon-1 {height: 260px; width: 260px; margin-top: 39px; margin-left: 32px}
.u-section-1 .u-btn-1 {margin-top: -7px; margin-left: 104px}
.u-section-1 .u-video-1 {height: 205px; width: 312px; margin-top: 13px} }